In [3]:
import numpy as np
from rightmove_webscraper import RightmoveData
from IPython.display import display

Webscraper taken from https://github.com/toby-p/rightmove_webscraper.py

In [4]:
url = "https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E3431&insId=1&radius=5.0&minPrice=&maxPrice=&minBedrooms=&maxBedrooms=&displayPropertyType=flats&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare="
rm = RightmoveData(url)

In [ ]:
# Refresh data
rm.refresh_data()

In [5]:
# average price for the search
rm.average_price

# How many pages is the search result?
# rm.page_count

# Is the search for rental or sale?
# rm.rent_or_sale

2112.9742857142855

In [7]:
# number of search results
rm.results_count

1050

In [8]:
# Summary of results
display(rm.summary())

# summary of results, by postcode
display(rm.summary(by = "postcode").head())

   number_bedrooms  count         mean
0                0     76  1180.894737
1                1    387  1629.382429
2                2    408  2312.463235
3                3    138  3099.949275
4                4     27  3427.222222
5                5      7  4393.142857

  postcode  count         mean
0      E14     84  2133.880952
1       N1     40  1884.500000
2       E1     35  1742.714286
3       W2     35  2398.085714
4      NW8     35  3107.628571

In [9]:
apartments_df = rm.get_results
apartments_df.head()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1928.0,2 bedroom apartment,"Hermitage Waterside, Wapping",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2.0,2020-11-17 19:59:26.700672
1,2492.0,2 bedroom apartment,"Colosseum Terrace, Regents Park, London, NW1",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NW1,2.0,2020-11-17 19:59:26.700672
2,1750.0,1 bedroom flat,"Printers Inn Court, London, EC4A",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,EC4A,1.0,2020-11-17 19:59:26.700672
3,1950.0,3 bedroom flat,"Denmark Hill, SE5",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SE5,3.0,2020-11-17 19:59:26.700672
4,2100.0,1 bedroom flat,"UNCLE, London SE11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SE11,1.0,2020-11-17 19:59:26.700672

In [10]:
apartments_df.type.value_counts().head()

2 bedroom flat         218
1 bedroom flat         214
2 bedroom apartment    168
1 bedroom apartment    162
3 bedroom flat          71
Name: type, dtype: int64

In [11]:
max_rent = 2000

apartments_df = apartments_df[apartments_df.price < max_rent]
display(apartments_df.head())

apartments_df.shape

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1928.0,2 bedroom apartment,"Hermitage Waterside, Wapping",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2.0,2020-11-17 19:59:26.700672
2,1750.0,1 bedroom flat,"Printers Inn Court, London, EC4A",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,EC4A,1.0,2020-11-17 19:59:26.700672
3,1950.0,3 bedroom flat,"Denmark Hill, SE5",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SE5,3.0,2020-11-17 19:59:26.700672
10,1885.0,1 bedroom apartment,"Queen's Gate, South Kensington, London, SW7",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW7,1.0,2020-11-17 19:59:26.700672
12,1500.0,1 bedroom flat,"Printers Inn Court, London, EC4A",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,EC4A,1.0,2020-11-17 19:59:26.700672

(639, 8)

In [12]:
display(apartments_df.number_bedrooms.value_counts())

# There are no missing number of bedrooms, those are just studio flats! Remove them. 
display(apartments_df[apartments_df.number_bedrooms == 0].type.value_counts())

apartments_df = apartments_df[apartments_df.number_bedrooms != 0]
display(apartments_df.head())

1.0    316
2.0    196
0.0     75
3.0     41
4.0      4
5.0      1
Name: number_bedrooms, dtype: int64

Studio flat         62
Studio apartment    13
Name: type, dtype: int64

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1928.0,2 bedroom apartment,"Hermitage Waterside, Wapping",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2.0,2020-11-17 19:59:26.700672
2,1750.0,1 bedroom flat,"Printers Inn Court, London, EC4A",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,EC4A,1.0,2020-11-17 19:59:26.700672
3,1950.0,3 bedroom flat,"Denmark Hill, SE5",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SE5,3.0,2020-11-17 19:59:26.700672
10,1885.0,1 bedroom apartment,"Queen's Gate, South Kensington, London, SW7",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW7,1.0,2020-11-17 19:59:26.700672
12,1500.0,1 bedroom flat,"Printers Inn Court, London, EC4A",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,EC4A,1.0,2020-11-17 19:59:26.700672

In [20]:
# Worst case - filter based on postcode? 

# This is how many listings are lost because of this!
print(apartments_df.postcode.isna().sum())

#(is this a problem? Do we care about listings that don't even include a postcode?)

apartments_df.url[0]

110

'http://www.rightmove.co.uk/property-to-rent/property-99665483.html'

In [23]:
# List different agents
agents_count = apartments_df.agent_url.value_counts()
agents_count

http://www.rightmove.co.uk/estate-agents/agent/OpenRent/London-96668.html                                    17
http://www.rightmove.co.uk/estate-agents/agent/Chris-Anthony-Estates/London-122383.html                      11
http://www.rightmove.co.uk/estate-agents/agent/Oppida/Surrey-Quays---Lettings-64976.html                      9
http://www.rightmove.co.uk/estate-agents/agent/M-and-M-Property/London-4370.html                              8
http://www.rightmove.co.uk/estate-agents/agent/SN-Estates-London/London-209642.html                           8
                                                                                                             ..
http://www.rightmove.co.uk/estate-agents/agent/Winkworth/St-Johns-Wood-90830.html                             1
http://www.rightmove.co.uk/estate-agents/agent/Right-Now-Residential/London-49959.html                        1
http://www.rightmove.co.uk/estate-agents/agent/Life-Residential/Canary-Wharf-Office---Lettings-52518.html     1
http://www.rightmove.co.uk/estate-agents/agent/Jackson-Stops/Holland-Park-77692.html                          1
http://www.rightmove.co.uk/estate-agents/agent/Peter-Martin/NW11-202550.html                                  1
Name: agent_url, Length: 334, dtype: int64

In [30]:
agents_na = apartments_df[apartments_df.postcode.isna()].agent_url.value_counts()
agents_na

# check if any agents are more likely to not give a postcode?

http://www.rightmove.co.uk/estate-agents/agent/CityZEN/London-29861.html                              4
http://www.rightmove.co.uk/estate-agents/agent/Parkheath/Belsize-Park-72719.html                      3
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Clapham-High-Street-84875.html                 3
http://www.rightmove.co.uk/estate-agents/agent/City-Docklands/London-25214.html                       3
http://www.rightmove.co.uk/estate-agents/agent/Folio-London/Kings-Cross-97670.html                    3
                                                                                                     ..
http://www.rightmove.co.uk/estate-agents/agent/Brian-Thomas-Estate-Agents/Green-Lanes-6123.html       1
http://www.rightmove.co.uk/estate-agents/agent/Westways/London-44562.html                             1
http://www.rightmove.co.uk/estate-agents/agent/Beresford-Residential/Brixton---Lettings-48330.html    1
http://www.rightmove.co.uk/estate-agents/agent/Bective/Ladbroke-Grove---Sales-49824.html              1
http://www.rightmove.co.uk/estate-agents/agent/Net-Lettings/London-43665.html                         1
Name: agent_url, Length: 83, dtype: int64

In [63]:
postcodes = apartments_df.postcode.tolist()

for code in postcodes:
    if code == "W2":
        print(code)
        
for i in range(len(postcodes)):      
    postcodes[i+1][0:1] == "S"

# can group postcodes by region, and only show desirable ones!

W2
W2
W2
W2
W2
W2
W2
W2
W2
W2

TypeError: 'float' object is not subscriptable

# API tutorial

In [12]:
import requests

In [14]:
response = requests.get("http://api.open-notify.org/this-api-doesnt-exist")
print(response.status_code)

404

In [16]:
response = requests.get("http://api.open-notify.org/astros.json")
print(response.status_code)
print(response.json())

200
{'message': 'success', 'number': 7, 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'}, {'craft': 'ISS', 'name': 'Kate Rubins'}, {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'}, {'craft': 'ISS', 'name': 'Mike Hopkins'}, {'craft': 'ISS', 'name': 'Victor Glover'}, {'craft': 'ISS', 'name': 'Shannon Walker'}, {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [17]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "message": "success",
    "number": 7,
    "people": [
        {
            "craft": "ISS",
            "name": "Sergey Ryzhikov"
        },
        {
            "craft": "ISS",
            "name": "Kate Rubins"
        },
        {
            "craft": "ISS",
            "name": "Sergey Kud-Sverchkov"
        },
        {
            "craft": "ISS",
            "name": "Mike Hopkins"
        },
        {
            "craft": "ISS",
            "name": "Victor Glover"
        },
        {
            "craft": "ISS",
            "name": "Shannon Walker"
        },
        {
            "craft": "ISS",
            "name": "Soichi Noguchi"
        }
    ]
}

In [20]:
parameters = {
    "lat": 40.71,
    "lon": -74
}

response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)
jprint(response.json())

pass_times = response.json()['response']
jprint(pass_times)

{
    "message": "success",
    "request": {
        "altitude": 100,
        "datetime": 1605552523,
        "latitude": 40.71,
        "longitude": -74.0,
        "passes": 5
    },
    "response": [
        {
            "duration": 530,
            "risetime": 1605568411
        },
        {
            "duration": 654,
            "risetime": 1605574130
        },
        {
            "duration": 599,
            "risetime": 1605579991
        },
        {
            "duration": 561,
            "risetime": 1605585879
        },
        {
            "duration": 621,
            "risetime": 1605591711
        }
    ]
}
[
    {
        "duration": 530,
        "risetime": 1605568411
    },
    {
        "duration": 654,
        "risetime": 1605574130
    },
    {
        "duration": 599,
        "risetime": 1605579991
    },
    {
        "duration": 561,
        "risetime": 1605585879
    },
    {
        "duration": 621,
        "risetime": 1605591711
    }
]

In [22]:
risetimes = []

for d in pass_times:
    time = d['risetime']
    risetimes.append(time)

print(risetimes)

[1605568411, 1605574130, 1605579991, 1605585879, 1605591711]

In [23]:
from datetime import datetime

times = []

for rt in risetimes:
    time = datetime.fromtimestamp(rt)
    times.append(time)
    print(time)

2020-11-17 00:13:31
2020-11-17 01:48:50
2020-11-17 03:26:31
2020-11-17 05:04:39
2020-11-17 06:41:51

# Another API tutorial

In [25]:
access_url = "https://api.traveltimeapp.com/v4/time-filter"

# This is the application ID, you should send with each API request.
application_ID = "431ba267"

application_key = "711616354625b0fd97dd08aa8fb4ffdc"

In [ ]:
headers = {
    'user-agent': USER_AGENT
}

payload = {
    'api_key': API_KEY,
    'method': 'chart.gettopartists',
    'format': 'json'
}

In [30]:
payload = {
    "api_key": application_key,
    
    "locations": [
    {
      "id": "London center",
      "coords": {
        "lat": 51.508930,
        "lng": -0.131387
      }
    },
    {
      "id": "Hyde Park",
      "coords": {
        "lat": 51.508824,
        "lng": -0.167093
      }
    },
    {
      "id": "ZSL London Zoo",
      "coords": {
        "lat": 51.536067,
        "lng": -0.153596
      }
    }
  ],
  "departure_searches": [
    {
      "id": "forward search example",
      "departure_location_id": "London center",
      "arrival_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "transportation": {
        "type": "bus"
      },
      "departure_time": "2020-11-16T08:00:00Z",
      "travel_time": 1800,
      "properties": [
        "travel_time"
      ],
      "range": {
        "enabled": True,
        "max_results": 3,
        "width": 600
      }
    }
  ],
  "arrival_searches": [
    {
      "id": "backward search example",
      "departure_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "arrival_location_id": "London center",
      "transportation": {
        "type": "public_transport"
      },
      "arrival_time": "2020-11-16T08:00:00Z",
      "travel_time": 1900,
      "properties": [
        "travel_time",
        "distance",
        "distance_breakdown",
        "fares"
      ]
    }
  ]
}

In [33]:
response = requests.get(access_url, params = payload)
print(response.status_code)

404