In [2]:
import numpy as np
from rightmove_webscraper import RightmoveData
from IPython.display import display

Webscraper taken from https://github.com/toby-p/rightmove_webscraper.py

In [3]:
url = "https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E3431&insId=1&radius=5.0&minPrice=&maxPrice=&minBedrooms=&maxBedrooms=&displayPropertyType=flats&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare="
rm = RightmoveData(url)

In [4]:
# Refresh data
rm.refresh_data()

In [5]:
# average price for the search
rm.average_price

# How many pages is the search result?
# rm.page_count

# Is the search for rental or sale?
# rm.rent_or_sale

2155.992380952381

In [6]:
# number of search results
rm.results_count

1050

In [7]:
# Summary of results
display(rm.summary())

# summary of results, by postcode
display(rm.summary(by = "postcode").head())

   number_bedrooms  count         mean
0                0     90  1287.555556
1                1    384  1633.507812
2                2    389  2322.755784
3                3    148  3182.148649
4                4     28  4400.071429
5                5      5  4436.600000

  postcode  count         mean
0      E14     69  1806.202899
1      SE1     45  1918.844444
2       N1     37  1831.189189
3      NW1     36  2255.388889
4       E1     32  1899.593750

In [8]:
apartments_df = rm.get_results
apartments_df.head()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,2396.0,2 bedroom apartment,"South Quay Square, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,2.0,2020-11-19 22:08:18.027557
1,1582.0,1 bedroom apartment,"River Heights, Stratford Riverside, Stratford E15",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E15,1.0,2020-11-19 22:08:18.027557
2,2145.0,2 bedroom apartment,"Medway Street, Westminster, SW1P",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW1P,2.0,2020-11-19 22:08:18.027557
3,1200.0,1 bedroom flat,"Mare Street, London, E8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E8,1.0,2020-11-19 22:08:18.027557
4,1798.0,1 bedroom apartment,"Forset Court, Edgware Road, London W2",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,W2,1.0,2020-11-19 22:08:18.027557

In [9]:
apartments_df.type.value_counts().head()

1 bedroom flat         247
2 bedroom flat         223
2 bedroom apartment    151
1 bedroom apartment    130
3 bedroom flat          85
Name: type, dtype: int64

In [10]:
max_rent = 2000

apartments_df = apartments_df[apartments_df.price < max_rent]
display(apartments_df.head())

apartments_df.shape

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
1,1582.0,1 bedroom apartment,"River Heights, Stratford Riverside, Stratford E15",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E15,1.0,2020-11-19 22:08:18.027557
3,1200.0,1 bedroom flat,"Mare Street, London, E8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E8,1.0,2020-11-19 22:08:18.027557
4,1798.0,1 bedroom apartment,"Forset Court, Edgware Road, London W2",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,W2,1.0,2020-11-19 22:08:18.027557
5,1350.0,1 bedroom flat,"Mare Street, London, E8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E8,1.0,2020-11-19 22:08:18.027557
8,1972.0,2 bedroom flat,"Consort Lodge, 34 Prince Albert Road, London, NW8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NW8,2.0,2020-11-19 22:08:18.027557

(659, 8)

In [11]:
display(apartments_df.number_bedrooms.value_counts())

# There are no missing number of bedrooms, those are just studio flats! Remove them. 
display(apartments_df[apartments_df.number_bedrooms == 0].type.value_counts())

apartments_df = apartments_df[apartments_df.number_bedrooms != 0]
display(apartments_df.head())

1.0    312
2.0    212
0.0     85
3.0     43
4.0      6
Name: number_bedrooms, dtype: int64

Studio flat         66
Studio apartment    19
Name: type, dtype: int64

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
1,1582.0,1 bedroom apartment,"River Heights, Stratford Riverside, Stratford E15",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E15,1.0,2020-11-19 22:08:18.027557
3,1200.0,1 bedroom flat,"Mare Street, London, E8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E8,1.0,2020-11-19 22:08:18.027557
4,1798.0,1 bedroom apartment,"Forset Court, Edgware Road, London W2",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,W2,1.0,2020-11-19 22:08:18.027557
5,1350.0,1 bedroom flat,"Mare Street, London, E8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E8,1.0,2020-11-19 22:08:18.027557
8,1972.0,2 bedroom flat,"Consort Lodge, 34 Prince Albert Road, London, NW8",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NW8,2.0,2020-11-19 22:08:18.027557

In [12]:
# Worst case - filter based on postcode? 

# This is how many listings are lost because of this!
print(apartments_df.postcode.isna().sum())

#(is this a problem? Do we care about listings that don't even include a postcode?)

apartments_df.url[0]

95

KeyError: 0

In [13]:
# List different agents
agents_count = apartments_df.agent_url.value_counts()
agents_count

http://www.rightmove.co.uk/estate-agents/agent/OpenRent/London-96668.html                                       34
http://www.rightmove.co.uk/estate-agents/agent/BPS-London/London-95999.html                                     29
http://www.rightmove.co.uk/estate-agents/agent/City-and-Urban/Shoreditch-15508.html                             14
http://www.rightmove.co.uk/estate-agents/agent/Foxtons/Earls-Court-108515.html                                   9
http://www.rightmove.co.uk/estate-agents/agent/Kinleigh-Folkard-and-Hayward---Lettings/Kennington-57952.html     9
                                                                                                                ..
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Clerkenwell-6073.html                                     1
http://www.rightmove.co.uk/estate-agents/agent/Frank-Harris/South-Bank-and-Waterloo-71137.html                   1
http://www.rightmove.co.uk/estate-agents/agent/Liv-International/London-54583.html                               1
http://www.rightmove.co.uk/estate-agents/agent/Foxtons/Clerkenwell-73120.html                                    1
http://www.rightmove.co.uk/estate-agents/agent/Behr-and-Butchoff/St-Johns-Wood-78397.html                        1
Name: agent_url, Length: 281, dtype: int64

In [14]:
agents_na = apartments_df[apartments_df.postcode.isna()].agent_url.value_counts()
agents_na

# check if any agents are more likely to not give a postcode?

http://www.rightmove.co.uk/estate-agents/agent/Dexters/Canary-Wharf-82537.html                              5
http://www.rightmove.co.uk/estate-agents/agent/Black-Katz/West-Hampstead-32793.html                         4
http://www.rightmove.co.uk/estate-agents/agent/Oliver-Jaques/Surrey-Quays-6843.html                         4
http://www.rightmove.co.uk/estate-agents/agent/City-Docklands/London-25214.html                             4
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Hyde-Park-and-Bayswater-55362.html                   3
http://www.rightmove.co.uk/estate-agents/agent/Vanet-Property-Asset-Management/Canary-Wharf-47285.html      3
http://www.rightmove.co.uk/estate-agents/agent/Braithwait/London-60711.html                                 3
http://www.rightmove.co.uk/estate-agents/agent/Golden-Eagle-International/London-49332.html                 3
http://www.rightmove.co.uk/estate-agents/agent/Parkheath/Belsize-Park-72719.html                            3
http://www.rightmove.co.uk/estate-agents/agent/Parkheath/West-Hampstead-72716.html                          3
http://www.rightmove.co.uk/estate-agents/agent/Daniel-Watney/London-87247.html                              3
http://www.rightmove.co.uk/estate-agents/agent/ea2-Estate-Agency/Wapping-10387.html                         3
http://www.rightmove.co.uk/estate-agents/agent/Global-House-Estates/London-74713.html                       2
http://www.rightmove.co.uk/estate-agents/agent/Get-Living/East-Village-57558.html                           2
http://www.rightmove.co.uk/estate-agents/agent/Douglas-Pryce/Canary-Wharf-227717.html                       2
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Shoreditch-157376.html                               2
http://www.rightmove.co.uk/estate-agents/agent/Ultra-Estates/London-61592.html                              2
http://www.rightmove.co.uk/estate-agents/agent/Living-in-London/Canada-Water-Tube-Station-55268.html        2
http://www.rightmove.co.uk/estate-agents/agent/Alex-Crown-Lettings-and-Estate-Agents/London-102122.html     2
http://www.rightmove.co.uk/estate-agents/agent/Eden-Harper/Brixton-31836.html                               2
http://www.rightmove.co.uk/estate-agents/agent/Filey-Properties/Church-Street---Lettings-54554.html         2
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Vauxhall-146498.html                                 2
http://www.rightmove.co.uk/estate-agents/agent/Beresford-Residential/Brixton---Lettings-48330.html          2
http://www.rightmove.co.uk/estate-agents/agent/1-Click-Homes-Ltd/London-71060.html                          1
http://www.rightmove.co.uk/estate-agents/agent/Arlington-Rouse/London-173180.html                           1
http://www.rightmove.co.uk/estate-agents/agent/RentLondonFlatcom/London-146147.html                         1
http://www.rightmove.co.uk/estate-agents/agent/Hastings-International/Rotherhithe-11351.html                1
http://www.rightmove.co.uk/estate-agents/agent/Marble-Property/London---Lettings-178412.html                1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/St-Johns-Wood-48695.html                             1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Pimlico-105760.html                                  1
http://www.rightmove.co.uk/estate-agents/agent/Parkheath/Kensal-Rise-151640.html                            1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Clerkenwell-6073.html                                1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Fitzrovia-156875.html                                1
http://www.rightmove.co.uk/estate-agents/agent/Bennett-Mason/Highbury-108077.html                           1
http://www.rightmove.co.uk/estate-agents/agent/Prospect-London/London-197495.html                           1
http://www.rightmove.co.uk/estate-agents/agent/Barnard-Marcus-Lettings/Muswell-Hill-Lettings-129652.html    1
http://www.rightmove.co.uk/estate-agents/agent/HOBARTS/Alexandra-Park-31274.html                            1
http://www.rightmove.co.uk/estate-agents/agent/BlakeStanley-Estate-Agents/Hackney-55792.html                1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Clapham-High-Street-84875.html                       1
http://www.rightmove.co.uk/estate-agents/agent/Martin-and-Co/Chelsea-39872.html                             1
http://www.rightmove.co.uk/estate-agents/agent/Garrett-Whitelock/London-Bridge-105305.html                  1
http://www.rightmove.co.uk/estate-agents/agent/Hunter-and-Bloomfield/London-225419.html                     1
http://www.rightmove.co.uk/estate-agents/agent/Choices/Central-London-117484.html                           1
http://www.rightmove.co.uk/estate-agents/agent/View-Properties/London-96736.html                            1
http://www.rightmove.co.uk/estate-agents/agent/Aspire/North-Clapham-45021.html                              1
http://www.rightmove.co.uk/estate-agents/agent/Urban-Lettings/London-41919.html                             1
http://www.rightmove.co.uk/estate-agents/agent/A1-Capital-Lettings/London-162371.html                       1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Earls-Court-84830.html                               1
http://www.rightmove.co.uk/estate-agents/agent/Ariston-Property/London-21035.html                           1
http://www.rightmove.co.uk/estate-agents/agent/David-Astburys-Ltd/London-176261.html                        1
http://www.rightmove.co.uk/estate-agents/agent/Gareth-James-Property/Peckham-Rye--Lettings-156608.html      1
http://www.rightmove.co.uk/estate-agents/agent/Dexters/Fulham-84794.html                                    1
http://www.rightmove.co.uk/estate-agents/agent/Waterview/Waterview-Shad-Thames-198539.html                  1
http://www.rightmove.co.uk/estate-agents/agent/Fraser-and-Co/City-Office-163088.html                        1
http://www.rightmove.co.uk/estate-agents/agent/Mashroom/Nationwide-77952.html                               1
Name: agent_url, dtype: int64

In [28]:
postcodes = apartments_df.postcode.tolist().fillna("")

for code in postcodes:
    if code == "W2":
        print(code)
        
for code in postcodes:
    
    print(code)
    print(code[0:2] == "W2")
    
    if code[0:2] == "W2":
        print(code)

    
# can group postcodes by region, and only show desirable ones!

AttributeError: 'list' object has no attribute 'fillna'

# API tutorial

In [ ]:
import requests

In [ ]:
response = requests.get("http://api.open-notify.org/this-api-doesnt-exist")
print(response.status_code)

In [ ]:
response = requests.get("http://api.open-notify.org/astros.json")
print(response.status_code)
print(response.json())

In [ ]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

In [ ]:
parameters = {
    "lat": 40.71,
    "lon": -74
}

response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)
jprint(response.json())

pass_times = response.json()['response']
jprint(pass_times)

In [ ]:
risetimes = []

for d in pass_times:
    time = d['risetime']
    risetimes.append(time)

print(risetimes)

In [ ]:
from datetime import datetime

times = []

for rt in risetimes:
    time = datetime.fromtimestamp(rt)
    times.append(time)
    print(time)

# Another API tutorial

In [ ]:
access_url = "https://api.traveltimeapp.com/v4/time-filter"

# This is the application ID, you should send with each API request.
application_ID = "431ba267"

application_key = "711616354625b0fd97dd08aa8fb4ffdc"

In [ ]:
headers = {
    'user-agent': USER_AGENT
}

payload = {
    'api_key': API_KEY,
    'method': 'chart.gettopartists',
    'format': 'json'
}

In [ ]:
payload = {
    "api_key": application_key,
    
    "locations": [
    {
      "id": "London center",
      "coords": {
        "lat": 51.508930,
        "lng": -0.131387
      }
    },
    {
      "id": "Hyde Park",
      "coords": {
        "lat": 51.508824,
        "lng": -0.167093
      }
    },
    {
      "id": "ZSL London Zoo",
      "coords": {
        "lat": 51.536067,
        "lng": -0.153596
      }
    }
  ],
  "departure_searches": [
    {
      "id": "forward search example",
      "departure_location_id": "London center",
      "arrival_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "transportation": {
        "type": "bus"
      },
      "departure_time": "2020-11-16T08:00:00Z",
      "travel_time": 1800,
      "properties": [
        "travel_time"
      ],
      "range": {
        "enabled": True,
        "max_results": 3,
        "width": 600
      }
    }
  ],
  "arrival_searches": [
    {
      "id": "backward search example",
      "departure_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "arrival_location_id": "London center",
      "transportation": {
        "type": "public_transport"
      },
      "arrival_time": "2020-11-16T08:00:00Z",
      "travel_time": 1900,
      "properties": [
        "travel_time",
        "distance",
        "distance_breakdown",
        "fares"
      ]
    }
  ]
}

In [ ]:
response = requests.get(access_url, params = payload)
print(response.status_code)