In [1]:
import numpy as np
from rightmove_webscraper import RightmoveData
from IPython.display import display

Webscraper taken from https://github.com/toby-p/rightmove_webscraper.py

In [2]:
url = "https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E3431&insId=1&radius=5.0&minPrice=&maxPrice=&minBedrooms=&maxBedrooms=&displayPropertyType=flats&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare="
rm = RightmoveData(url)

In [3]:
# Refresh data
rm.refresh_data()

In [4]:
# average price for the search
rm.average_price

# How many pages is the search result?
# rm.page_count

# Is the search for rental or sale?
# rm.rent_or_sale

2124.984761904762

In [5]:
# number of search results
rm.results_count

1050

In [6]:
# Summary of results
display(rm.summary())

# summary of results, by postcode
display(rm.summary(by = "postcode").head())

   number_bedrooms  count         mean
0                0    110  1234.590909
1                1    399  1677.917293
2                2    386  2314.204663
3                3    138  3429.637681
4                4     17  3492.176471

  postcode  count         mean
0      E14     54  1876.574074
1       W2     47  3043.425532
2      SE1     47  2016.595745
3      NW1     42  2160.190476
4       N1     39  1885.025641

In [7]:
apartments_df = rm.get_results
apartments_df.head()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1647,2 bedroom flat,"Elmhurst Mansions, Edgeley Road, London, SW4",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW4,2,2020-11-16 19:19:23.472110
1,2383,1 bedroom flat,"Water Street, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,1,2020-11-16 19:19:23.472110
2,3250,2 bedroom flat,"Water Street, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,2,2020-11-16 19:19:23.472110
3,1560,2 bedroom flat,"Burrells Wharf Square, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,2,2020-11-16 19:19:23.472110
4,3878,3 bedroom flat,"Tedworth Square, Chelsea, London, SW3",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW3,3,2020-11-16 19:19:23.472110

In [8]:
apartments_df.type.value_counts().head()

2 bedroom flat         234
1 bedroom flat         225
1 bedroom apartment    164
2 bedroom apartment    140
Studio flat             91
Name: type, dtype: int64

In [9]:
max_rent = 2000

apartments_df = apartments_df[apartments_df.price < max_rent]
display(apartments_df.head())

apartments_df.shape

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1647,2 bedroom flat,"Elmhurst Mansions, Edgeley Road, London, SW4",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW4,2,2020-11-16 19:19:23.472110
3,1560,2 bedroom flat,"Burrells Wharf Square, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,2,2020-11-16 19:19:23.472110
7,1100,Studio flat,"Saltoun Road, London, SW2 1ER",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW2,0,2020-11-16 19:19:23.472110
9,1993,1 bedroom flat,"Hereford Road, London, W2",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,W2,1,2020-11-16 19:19:23.472110
10,1530,2 bedroom flat,"Theatre Street, London, SW11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,2,2020-11-16 19:19:23.472110

(698, 8)

In [10]:
display(apartments_df.number_bedrooms.value_counts())

# There are no missing number of bedrooms, those are just studio flats! Remove them. 
display(apartments_df[apartments_df.number_bedrooms == 0].type.value_counts())

apartments_df = apartments_df[apartments_df.number_bedrooms != 0]
display(apartments_df.head())

1    333
2    203
0    108
3     49
4      5
Name: number_bedrooms, dtype: int64

Studio flat         90
Studio apartment    18
Name: type, dtype: int64

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,1647,2 bedroom flat,"Elmhurst Mansions, Edgeley Road, London, SW4",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW4,2,2020-11-16 19:19:23.472110
3,1560,2 bedroom flat,"Burrells Wharf Square, London, E14",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,E14,2,2020-11-16 19:19:23.472110
9,1993,1 bedroom flat,"Hereford Road, London, W2",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,W2,1,2020-11-16 19:19:23.472110
10,1530,2 bedroom flat,"Theatre Street, London, SW11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,2,2020-11-16 19:19:23.472110
12,1500,2 bedroom flat,"Saltoun Road, London, SW2 1ER",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW2,2,2020-11-16 19:19:23.472110

# API tutorial

In [12]:
import requests

In [14]:
response = requests.get("http://api.open-notify.org/this-api-doesnt-exist")
print(response.status_code)

404

In [16]:
response = requests.get("http://api.open-notify.org/astros.json")
print(response.status_code)
print(response.json())

200
{'message': 'success', 'number': 7, 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'}, {'craft': 'ISS', 'name': 'Kate Rubins'}, {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'}, {'craft': 'ISS', 'name': 'Mike Hopkins'}, {'craft': 'ISS', 'name': 'Victor Glover'}, {'craft': 'ISS', 'name': 'Shannon Walker'}, {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [17]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "message": "success",
    "number": 7,
    "people": [
        {
            "craft": "ISS",
            "name": "Sergey Ryzhikov"
        },
        {
            "craft": "ISS",
            "name": "Kate Rubins"
        },
        {
            "craft": "ISS",
            "name": "Sergey Kud-Sverchkov"
        },
        {
            "craft": "ISS",
            "name": "Mike Hopkins"
        },
        {
            "craft": "ISS",
            "name": "Victor Glover"
        },
        {
            "craft": "ISS",
            "name": "Shannon Walker"
        },
        {
            "craft": "ISS",
            "name": "Soichi Noguchi"
        }
    ]
}

In [20]:
parameters = {
    "lat": 40.71,
    "lon": -74
}

response = requests.get("http://api.open-notify.org/iss-pass.json", params=parameters)
jprint(response.json())

pass_times = response.json()['response']
jprint(pass_times)

{
    "message": "success",
    "request": {
        "altitude": 100,
        "datetime": 1605552523,
        "latitude": 40.71,
        "longitude": -74.0,
        "passes": 5
    },
    "response": [
        {
            "duration": 530,
            "risetime": 1605568411
        },
        {
            "duration": 654,
            "risetime": 1605574130
        },
        {
            "duration": 599,
            "risetime": 1605579991
        },
        {
            "duration": 561,
            "risetime": 1605585879
        },
        {
            "duration": 621,
            "risetime": 1605591711
        }
    ]
}
[
    {
        "duration": 530,
        "risetime": 1605568411
    },
    {
        "duration": 654,
        "risetime": 1605574130
    },
    {
        "duration": 599,
        "risetime": 1605579991
    },
    {
        "duration": 561,
        "risetime": 1605585879
    },
    {
        "duration": 621,
        "risetime": 1605591711
    }
]

In [22]:
risetimes = []

for d in pass_times:
    time = d['risetime']
    risetimes.append(time)

print(risetimes)

[1605568411, 1605574130, 1605579991, 1605585879, 1605591711]

In [23]:
from datetime import datetime

times = []

for rt in risetimes:
    time = datetime.fromtimestamp(rt)
    times.append(time)
    print(time)

2020-11-17 00:13:31
2020-11-17 01:48:50
2020-11-17 03:26:31
2020-11-17 05:04:39
2020-11-17 06:41:51

# Another API tutorial

In [25]:
access_url = "https://api.traveltimeapp.com/v4/time-filter"

# This is the application ID, you should send with each API request.
application_ID = "431ba267"

application_key = "711616354625b0fd97dd08aa8fb4ffdc"

In [ ]:
headers = {
    'user-agent': USER_AGENT
}

payload = {
    'api_key': API_KEY,
    'method': 'chart.gettopartists',
    'format': 'json'
}

In [30]:
payload = {
    "api_key": application_key,
    
    "locations": [
    {
      "id": "London center",
      "coords": {
        "lat": 51.508930,
        "lng": -0.131387
      }
    },
    {
      "id": "Hyde Park",
      "coords": {
        "lat": 51.508824,
        "lng": -0.167093
      }
    },
    {
      "id": "ZSL London Zoo",
      "coords": {
        "lat": 51.536067,
        "lng": -0.153596
      }
    }
  ],
  "departure_searches": [
    {
      "id": "forward search example",
      "departure_location_id": "London center",
      "arrival_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "transportation": {
        "type": "bus"
      },
      "departure_time": "2020-11-16T08:00:00Z",
      "travel_time": 1800,
      "properties": [
        "travel_time"
      ],
      "range": {
        "enabled": True,
        "max_results": 3,
        "width": 600
      }
    }
  ],
  "arrival_searches": [
    {
      "id": "backward search example",
      "departure_location_ids": [
        "Hyde Park",
        "ZSL London Zoo"
      ],
      "arrival_location_id": "London center",
      "transportation": {
        "type": "public_transport"
      },
      "arrival_time": "2020-11-16T08:00:00Z",
      "travel_time": 1900,
      "properties": [
        "travel_time",
        "distance",
        "distance_breakdown",
        "fares"
      ]
    }
  ]
}

In [33]:
response = requests.get(access_url, params = payload)
print(response.status_code)

404